@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rk] {
  @apply w-full !bg-zinc-950;
}

[data-rk] [aria-modal="true"][role="dialog"] {
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.black-select option {
  @apply !bg-zinc-950
}